:root {
    --color-white: #FFF;
    --color-red: #FF6565;

}

body {
    background-image: url(./images/headphones_hero_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

/** header **/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 12.5rem;
}

header img {
    width: 10.0625rem;
    height: 2rem;
    flex-shrink: 0;
    margin-top: 1.70rem;
}

.navbar {
    display: flex;   
}

.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 0 2.5rem;
    margin-top: 1.70rem;
    color: var(--color-white);
    font-family: Source Sans Pro;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navbar li {
    overflow: hidden;
}

.navbar li:hover {
    color: #FF6565;
}

.navbar li:first-child {
    margin-left: 0;
}

.navbar li:last-child {
    margin-right: 0;
}

.menu_button {
    display: none;
}

/** navbar (menu button) **/

@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
        margin: 0;
    }

    .div_logo_button {
        display: flex;
        margin-top: 1.70rem;
    }

    header img {
        margin-top: 0;
    }

    .navbar ul{
        flex-direction: column;
    }

    .navbar li {
        margin: 2rem 0 0 0;
    }
}


/** main part **/

main {
    display: flex;
    justify-content: center;
}

.main_part {
    height: 50rem;
    flex-shrink: 0;
}

.main_part .main_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_text {
    margin-top: 20rem;
    width: 40rem;
    height: 20rem;
    flex-shrink: 0;
}

.main_part h1 { 
    color: var(--color-white);
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.main_part h2 {
    color: var(--color-white);
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.main_part button {
    margin: 2.5rem 0 0 0;
    width: 10rem;
    height: 2.75rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
    background: var(--color-red);
    border: 0;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main_part button:hover {
    opacity: 0.9;
}

.main_part p {
    margin: 4.8rem 0 0 0;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; /* 162.5% */
}

